@charset "UTF8"

*{
    font-family: Arial, Helvetica, sans-serif;
    

}
body{
    background-image: linear-gradient(to right, #FFFACC,#FFEFBD);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #dfc884;
    width: 600px;
    padding: 10px;
    margin: auto
}
h1{
    color:#D05353;
    text-align: center;
    text-shadow: 1px 1px 0px #ad4040;
    
}
h2{
    color: #B8E1FF ;
}
p{
    text-align: justify;
}